.bg {
  background: url("../../../assets/images/Rectangle\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  height: 100vh;
  width: 100%;
}

.bg-2 {
  background: linear-gradient(179deg, #ffb300ba 25%, #ffffff12 84.69%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // opacity: 0.8;
}

.heading {
  color: #fffefe;
  font-family: Inter;
  font-size: 17.59px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.sign-in-card {
  input {
    border-radius: 39px;
    background: #fff;
    border: none;
    padding: 20px;
    outline: none;
    box-shadow: 0px 2.639px 8.795px 0px rgba(0, 0, 0, 0.1);
    color: #737373;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 314.864px;
    height: 43.975px;
    margin-top: 10px;
    margin-bottom: 10px;
    ::placeholder {
      color: #737373;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.login-button {
  border-radius: 35px;
  background: #e93d25;
  box-shadow: 5px 4px 43.9px 0px rgba(220, 74, 155, 0.52);
  width: 314.864px;
  height: 43.975px;
  flex-shrink: 0;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15.831px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.792px;
}

.dont-account {
  color: #e93d25;
  text-align: center;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup {
  color: #1c1c1c;
  text-align: center;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  opacity: 0.5;
  margin-left: 2px;
}

.sign-up-card {
  border-radius: 30.257px;
  background: #fff;
  padding: 20px;
  width: 40vw;
  .heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24.997px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.75px;
    margin: 1px;
  }
  .sub-heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 9.732px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.292px;
  }
  select{
    border-radius: 8.94px;
    background: #f0f0f0;
    outline: none;
    border: none;
    padding: 14px;
    width: 406.917px;
    height: 47.546px;
    -webkit-backdrop-filter: blur(22.3510932922px);
    backdrop-filter: blur(22.3510932922px);
    color: #737373;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input {
    border-radius: 8.94px;
    background: #f0f0f0;
    outline: none;
    border: none;
    padding: 20px;

    width: 406.917px;
    height: 47.546px;
    backdrop-filter: blur(22.351093292236328px);
    color: #737373;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 10px;
      margin-bottom: 10px;

    ::placeholder {
      color: #737373;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.label {
  color: #828282;
  font-family: "Inter";
  font-size: 11.623px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
