<div class="bg">
  <div class="bg-2">
    <div>
      <img class="logo" src="../../../assets/images/hero-section-logo.png">
      @if(tabIndex == 0){
        <div class="sign-in-card my-4">
          <p class="heading">Login to your Account </p>
          <div>
            <input type="email" (keyup.enter)="login()" [(ngModel)]="model.email" placeholder="Email">

          </div>
          <div>
            <input type="password" (keyup.enter)="login()" [(ngModel)]="model.password" placeholder="Password">

          </div>
          <div class="text-end  fix-width mb-2">
            <a class=" signup cursor-pointer text-underline " (click)="forgetPassword()">Forget Password</a>
          </div>
          <button class="login-button" (click)="login()">Login</button>

        </div>
        <span class="dont-account">Don’t have an account?</span><span (click)="tabIndex = 1" class="signup cursor-pointer">Sign Up</span>
      }@else if (tabIndex == 1) {
        <div class="sign-up-card">
          <div>
            <p class="heading">Create A New Account</p>
            <p class="sub-heading">Use the form below to create a new account</p>
            <div class="form">
              <div>
                <input type="text" [(ngModel)]="registerModel.firstName" placeholder="First Name">
              </div>
              <div>
                <input type="text" [(ngModel)]="registerModel.lastName" placeholder="Last Name">
              </div>
              <div>
                <input type="text" [(ngModel)]="registerModel.userName"  placeholder="Username">
              </div>
              <div>
                <input type="text" [(ngModel)]="registerModel.organization"  placeholder="Organization">
              </div>
              <div>
                <input type="email" [(ngModel)]="registerModel.email"  placeholder="Email">
              </div>
              <div>
                <input type="password"[(ngModel)]="registerModel.password"  placeholder="Password">
              </div>
              <div>
                <input type="password" [(ngModel)]="registerModel.password_confirmation"  placeholder="Confirm Password">
              </div>
              <div>
                <select name="" id=""[(ngModel)]="registerModel.roleId">
                  <option [value]="undefined">Roles</option>
                  @for(item of roleList;track item){
                    <option [value]="item.id">{{item.role}}</option>
                  }
                </select>
              </div>

            </div>
            <button (click)="signUp()" class="login-button my-4">Sign up</button>
          </div>


          <span class="dont-account">Don’t have an account?</span><span (click)="tabIndex = 0" class="signup cursor-pointer">Login in</span>


        </div>
      }



    </div>



  </div>

</div>

<ng-template #changePasswordDialog>
  <mat-dialog-content>
    <div class="field-input d-flex flex-column">
      <input type="text" [(ngModel)]="model.reset_code" placeholder="Reset Code">
      <input type="password" [(ngModel)]="model.new_password" placeholder="New Password">
      <input type="password" [(ngModel)]="model.new_password_confirmation" placeholder="Confirm New Password">

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="button-primary" (click)="updatePassword()">
      @if(loader){
        <mat-spinner color="secondary" [diameter]="20"> </mat-spinner>
      }@else {
        Update Password
      }
    </button>

  </mat-dialog-actions>


</ng-template>

