<div>
  <div class="header">
    <div>
      <span class="title">Alfalo</span>
      <p class="subtitle cursor-pointer" (click)="router.navigate(['detail-overview'])">Overview</p>
      <svg (click)="back()" class="close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <rect x="0.883301" y="0.439178" width="23.0529" height="23.0529" rx="4.12756" fill="#FFB300"/>
        <path d="M8.83211 15.5433L15.9875 8.38789M8.83211 8.38789L15.9875 15.5433" stroke="white" stroke-width="1.44562" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    </div>


  </div>

  <div class="body my-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="head_card">
            <span>DLP Eye Group</span>

          </div>
          <div class="p-4">
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Group ID</span>
              <span>VAA</span>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>TIN</span>
              <span>68-0538411</span>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Primary Specialty</span>
              <span>Anesthesia</span>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Location </span>
              <span></span>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Number Of Patients</span>
              <span> 20,401</span>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Number of Providers</span>
              <span> 49</span>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="head_card">
            <span>DLP Eye Group</span>

          </div>
          <div class="p-4">
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Program Sponsor</span>
              <span>CMS</span>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bot">
              <span>Performance Year</span>
              <span>2018</span>
            </div>

          </div>

        </div>

       </div>

    </div>

  </div>
</div>
