<app-page-header [pageTitle]="'Groups'"></app-page-header>
<app-setup-list [columns]="columns" (onRowClick)="onRowClick($event)" [datasource]="datasource" ></app-setup-list>

<div class="m-2 d-flex align-items-center">
  <input type="checkbox"><span class="caption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  </span></div>
  <div class="m-2 d-flex align-items-center">
  <input type="checkbox"><span class="caption">Lorem Ipsum is simply dummy text</span>

</div>
<div class="m-2 d-flex align-items-center">
  <input type="checkbox"><span class="caption">Lorem Ipsum is simply</span>

</div>

<button class="button-primary my-4">Approve Submission</button>
<!-- <input type="checkbox">Lorem Ipsum is simply dummy text -->
